.header {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  background-color:#e7edef;
  color: black;
  padding: 1rem;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.list li {
  margin: 0.5rem; /* Add some spacing around each list item */
}

.list li a {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  font-family:'San Francisco', sans-serif;
  transition: color 0.3s ease-in-out;
  white-space: nowrap; /* Prevent text from wrapping within the link */
}

.list li a.active {
  color: #507255;
  font-weight: 600;
}

.list li a:hover {
  color: #507255;
}
